@page "/dadi"
@rendermode InteractiveServer

<h1>Dadi</h1>

<input @bind=numeroDadi @bind:after=Reset type="number" />
<button @onclick="TiraDadi">Tira dadi</button>

<p>
    @foreach (var d in dadi)
    {
        <i class="bi bi-dice-@d.Faccia-fill m-1"
           @onclick="() => d.IsBlocked=!d.IsBlocked"
           style="font-size:3rem;  color: @(d.IsBlocked?"red;":"green;")"></i>
    }
</p>

@code {
    int numeroDadi = 1;
    List<Dado> dadi = new();

    void Reset()
    {
        dadi.Clear();
    }

    private void TiraDadi()
    {
        if (dadi.Count() == 0)
        {
            for (int i = 1; i <= numeroDadi; i++)
            {
                dadi.Add(new Dado());
            }
        }
        else
        {
            foreach (var d in dadi)
            {
                d.TiraDado();
            }
        }

    }
}
